<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    </head>
    <body>

        <div>
            <button id="good">:)</button>
            <button id="indifferent">:|</button>
            <button id="bad">:(</button>
        </div>
        <br>
        <div id="votesAnchor">
            Hello
        </div>


    </body>
    <script src="scripts/http.js"></script>
    <script src="scripts/buttons.js"></script>
</html>
